.idea/
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea\.idea.Scheme Assistant\.idea
Yuki Theme.Core/yuki.png
Yuki Theme.Core/yuki128.png
Yuki Theme.Core/yuki_new.png
Yuki Theme/icon_old.ico