.idea/
bin/
obj/
riderModule.iml
/_ReSharper.Caches/
.idea\.idea.Scheme Assistant\.idea
Yuki Theme.Core/yuki.png
Yuki Theme.Core/yuki128.png
Yuki Theme.Core/yuki_new.png
Yuki Theme/icon_old.ico
packages/System.Globalization.4.3.0
packages/CommonMark.NET.0.15.1
packages/Cyotek.Windows.Forms.ColorPicker.2.0.0-beta.6
packages/Fizzler.1.2.1
packages/HTAlt.Standart.0.1.7.3
packages/HTAlt.WinForms.0.1.7.3
packages/Microsoft.NETCore.Platforms.1.1.0
packages/NETStandard.Library.1.6.1
packages/Newtonsoft.Json.13.0.1
packages/Svg.3.3.0
packages/System.Buffers.4.5.1
packages/System.Collections.4.3.0
packages/System.Collections.Concurrent.4.3.0
packages/System.Diagnostics.Contracts.4.3.0
packages/System.Diagnostics.Debug.4.3.0
packages/System.Diagnostics.Tools.4.3.0
packages/System.Diagnostics.Tracing.4.3.0
packages/System.Drawing.Common.5.0.2
packages/System.Globalization.4.3.0