# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Scheme Assistant.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\User\Documents\CSharp\Scheme Assistant\.idea\.idea.Scheme Assistant\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
