.star {
	position: fixed;
	pointer-events: none;
	transition: opacity 0.3s;
	/*animation-name: rotation;*/
	/*animation-duration: 0.75s;*/
}

@keyframes rotate {
	100% {
		transform: rotate(355deg);
	}
}

