
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
}

.bg-theme {
	background-color: #2B2B2B;
}

.color-theme, button, a {
	color: #DDDDDD !important;
}

code {
	background-color: rgba(0,0,0,0.2);
	padding: 3px 6px;
	margin: 4px;
	border-radius: 6px;
}

.bg-dark-transparent {
	background-color: rgba(0,0,0,0.2) !important;
}

.bg-night {
	background-color: #323232 !important;
}

a.list-group-item:hover {
	background-color: rgba(0,0,0,0.5) !important;
}

.top-0 {
	top: 0;
}

.left-0 {
	left: 0;
}

.right-0 {
	right: 0;
}


.bn-effect-parent {
	overflow-y: hidden;
}

.bn-effect {
	position: relative;
	top: -28px;
	-webkit-box-shadow: inset 0px -5px 0 0px #F00;
	-moz-box-shadow: inset 0px -5px 0 0px #F00;
	box-shadow: inset 0px -5px 0 0px #F00;
	padding-top: 3px;
	padding-bottom: 5px;
	transition: 2s all;
	background-color: rgba(0, 0, 0, 0.1);
}

.bn-logo-effect > span {
	position: relative;
	top: -34px;
	transition: 2s all;
}

.bn-effect:hover, .bn-logo-effect:hover > span {
	top: -2px;
	transition: 0.5s all cubic-bezier(.87, -.11, .19, 1.44);
}

.bn-effect-left {
	clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

.bn-effect-right {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}

.bn-effect-center {
	clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
}